.Wrapper {
  width: 100%;
  display: flex;
}
.Wrapper > p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.Id {
  width: 200px;
}
.Title {
  width: 200px;
}
.Brand {
  width: 200px;
}
.Description {
  width: 610px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Price {
  width: 130px;
}
.rating {
  width: 130px;
}
.Stock {
  width: 130px;
}
